{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <title>Enter Your Name</title>
</head>
<body>
    <h1>Enter Your Name</h1>
    <button id="button">get message</button>

    <div id="text"></div>


    <script>
        // create event listener
        document.getElementById('button').addEventListener('click', loadText);

        function loadText() {
            // create xhr object
            let xhr = new XMLHttpRequest();
            // OPEN - type, url/file, async
            xhr.open('GET', '{% static "sample.txt" %}', true);

            xhr.onload = function() {
                if (this.status == 200) {
                    // console.log(this.responseText);
                    document.getElementById('text').innerHTML = this.responseText
                }
            }

            xhr.onerror = function (){
                console.log("request error");
            }

            xhr.send();
        }
    </script>
</body>
</html>
